[user]
	name = JokkeIver
	email = jc.ivers1@gmail.com
[pull]
	rebase = false
[diff]
	tool = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
	excludesfile = /Users/joakim/.gitignore_global
[help]
	autocorrect = 20
